@import url('https://fonts.googleapis.com/css2? family = Roboto: ital, wght @ 0,100; 1,300; 1,400 & display = swap');

@import url('https://fonts.googleapis.com/css2? family = Source + Sans + Pro: wght @ 200; 300; 600 & display = swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

*{
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #fff;
    border: none;
}

.h1-geral{
    color: #fff;
    padding: 100px 0;
    font-size: 2rem;
}

.container-modo{
    position: fixed;
    top: 26px;
    right: 15px;
    z-index: +100;
}

.modo{
    width: 50px;
    height: 25px;
    background: #EA1796;
    border-radius: 25px;
}

.circle{
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 100%;
}

.circle.active{
    float: right;
    background: #2b0479;
}

.container{
    background: #080017;
    overflow: hidden;
}

.container.active *{
    color: #080017;
}

.container.active{
    transition: 1s linear;
    background: #fff;
}

.header-bg{
    background: transparent;
    height: 50px;
}

.header{
    background: #080017a9;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: +100;
}

.header.active{
    background: transparent;
    position: relative;
}

.header img{
    width: 70px;
}

.nav {
    margin-right: 25px;
}

.nav ul{
    display: flex;
    flex-wrap: wrap;
}

.nav ul li a{
    margin-left: 10px;
    padding: 15px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    font-weight: 500;
}

.nav ul li a:hover{
    background: #EA1796;
    transition: .3s linear;
}

.intro-bg{
    margin-top: 100px;
    height: 100vh;
}

.intro{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.intro-text{
    flex: 2;
    animation: leftToRight 1s forwards;
}

@keyframes leftToRight {
  0% {
    transform: translateX(-15rem) ;
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.intro-text h2{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.intro-text h1{
    font-size: 4rem;
    margin-bottom: .5rem;
}

.intro-text p{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.intro-text button{
    width: 50%;
    background: #EA1796;
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.intro-text button:hover{
    transition: .5s linear;
    color: #080017;
    background: #fff;
}

.icons-intro{
    display: flex;
    flex-wrap: wrap;
}

.icons-intro a i{
    margin-right: 40px;
    padding: 10px;
    font-size: 1.75rem;
}

.icons-intro a i:hover{
    color: #EA1796;
}

.intro-img{
    flex: 1 1;
}

.intro-img img{
    width: 450px;
}

.intro-img img.active{
    animation: upDown 1.5s infinite alternate;
}

@keyframes upDown{
    to{
        transform: translateY(-20px);
    }
    from{
        transform: translateY(0);
    }
}

/*Header*/

.tecnologias-bg{
    background: transparent;
}

.tecnologias{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.icons-tecno ul{
    display: flex;
    overflow-x: scroll
}

.icons-tecno ul li i{
    font-size: 100px;
    margin: 50px 60px;
}

.icons-tecno ul li i:hover{
    color: #EA1796;
}

::-webkit-scrollbar{
    background: #fff;   
}
::-webkit-scrollbar-button{
    background: #EA1796;
}
::-webkit-scrollbar-thumb{
    background: #EA1796;
    border-left: 2px solid #080017;
    border-right: 2px solid #080017;
}

.tecnologias-bg{
    background: transparent;
}

.grid-bg{
    background: transparent;
}

.grid{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(400px, 1fr);
    gap: 1.2rem;
}

.grid-container .item{
    background: #EA1796;
    position: relative;
    box-shadow: -10px 10px 0px #a00948;
}

.grid-container .item:nth-child(1){
    background: url('../img/totoro.png');
    background-position: center;
    background-size: cover;
}

.grid-container .item:nth-child(2){
    background: url('../img/uzumaki.png');
    background-position: center;
    background-size: cover;
}

.grid-container .item:nth-child(3){
    background: url('../img/mj.jpg');
    background-position: left;
    background-size: cover;
}

.grid-container .item:nth-child(4){
    background: url('../img/form.png');
    background-position: center;
    background-size: contain;
}

.grid-container .item:nth-child(5){
    background: url('../img/ConsultarCEP.png');
    background-position: center;
    background-size: contain;
}

.grid-container .up{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #EA1796;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: .9;
}

.grid-container .up p{
    font-size: 1.75rem;
    text-transform: uppercase;
    text-align: center;
}

.grid-container .up:hover{
    opacity: 0;
    transition: 1s linear;
}

.contato-bg{
    background: transparent;
}

.contato{
    margin: 0 auto;
    width: 90%;
}

.contatos-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 0;
    margin-bottom: 100px;
}

.contatos .item-contato{
    margin-bottom: 25px;
}


.icons-contato p{
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 10px;
}

.icons-contato .icons a i{
    margin-right: 40px;
    padding: 10px;
    font-size: 1.75rem;
    float: right;
}

.icons-contato .icons a i:hover{
    color: #EA1796;
}

icons-contato .icons a:nth-child(3){
    margin-right: 0;
}

#copy{
    text-align: center;
    margin-bottom: 100px;
    font-size: 1rem;
}

@media(max-width: 760px){
    .header{
        flex-direction: column;
        position: relative;
    }
    .nav{
        margin-top: 15px;
    }
    .nav ul{
        justify-content: center;
    }
    .nav ul li{
        margin-bottom: 10px;
    }
    .nav ul li a{
        font-size: .6rem;
        margin-left: 10px;
        padding: 10px;
    }
    .intro-img img{
        width: 325px;
        padding: 25px 0;
    }
    .intro-bg{
        height: 100%;
    }
    .intro{
        flex-direction: column;
        justify-content: center;
    }
    .intro-text h2, .intro-text p{
        text-align: center;
        font-size: 1.25rem;
    }
    .intro-text h1{
        font-size: 3rem;
    }
    .intro-text button{
        width: 100%;
    }
    .icons-intro{
        justify-content: center;
    }
    .icons-intro a i{
        font-size: 1.5rem;
    }
    .icons-intro .last{
        margin-right: 0;
    }
    .icons-contato{
        text-align: center;
        margin: 25px 0;
    }
    .icons{
        left: 50%;
        transform: translateX(-15%);
    }
}

